{% load static %}
{% load custom_filters %}
{% load ticket_custom_filter %}
{% load humanize %}
<!DOCTYPE html>
<html lang="fa" class="light-style layout-navbar-fixed layout-menu-fixed" dir="rtl" data-theme="theme-default"
      data-assets-path="{% static 'dashboard_app' %}/" data-template="vertical-menu-template">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>داشبورد | فرست</title>

    <meta name="description" content="">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'dashboard_app/img/favicon/favicon.ico' %}">

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'dashboard_app/vendor/fonts/boxicons.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard_app/vendor/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard_app/vendor/fonts/flag-icons.css' %}">

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'dashboard_app/vendor/css/rtl/core.css' %}"
          class="template-customizer-core-css">
    <link rel="stylesheet" href="{% static 'dashboard_app/vendor/css/rtl/theme-default.css' %}"
          class="template-customizer-theme-css">
    <link rel="stylesheet" href="{% static 'dashboard_app/css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard_app/vendor/css/rtl/rtl.css' %}">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'dashboard_app/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard_app/vendor/libs/typeahead-js/typeahead.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard_app/vendor/libs/apex-charts/apex-charts.css' %}">

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'dashboard_app/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% static 'dashboard_app/vendor/js/template-customizer.js' %}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'dashboard_app/js/config.js' %}"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        {% include 'includes/dashboard_sidebar.html' %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            {% include 'includes/dashboard_nav.html' %}

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <!-- Gamification Card -->
                        <div class="col-lg-4 col-md-6 col-12 mb-4">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h3 class="card-title mb-2"> {{ request.user.fullname }} عزیز به
                                        سایت {{ info.company_name }} خوش آمدید </h3>
                                    <span class="d-block mb-4 text-nowrap primary-font"><i class="bxl-hea"></i></span>
                                </div>
                                <div class="card-body">
                                    <div class="row align-items-end">
                                        <div class="col-6">
                                            <h1 class="display-6 text-primary mb-2 pt-3 pb-2">{{ request.user.created_at|get_days_ago }}
                                                روز </h1>
                                            <small class="d-block mb-3 lh-1-85">است که همراه ما هستید</small>

                                            <a href="{% url 'profile' request.user.phone %}"
                                               class="btn btn-sm btn-primary">مشاهده پروفایل</a>
                                        </div>
                                        <div class="col-6 text-end">
                                            <img src="{% static 'dashboard_app/img/illustrations/prize-light.png' %}"
                                                 width="140" height="150" class="rounded-start" alt="View Sales"
                                                 data-app-light-img="illustrations/prize-light.png"
                                                 data-app-dark-img="illustrations/prize-dark.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Gamification Card -->

                        <!-- Multi Radial Chart -->
                        <div class="col-md-6 col-lg-6 col-xl-4 col-xl-4 mb-4">
                            <div class="card h-100">
                                <div class="card-header d-flex align-items-center justify-content-between mb-3">
                                    <h5 class="card-title mb-0">آخرین اخبار</h5>

                                </div>
                                <div class="card-body">
                                    <ul class="p-0 m-0">
                                        {% for announcement in announcements %}
                                            <li class="d-flex mb-3 align-items-center">
                                                <div class="avatar avatar-sm flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded-circle bg-label-primary"><i
                                                        class="bx bx-cube"></i></span>
                                                </div>
                                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                    <div class="me-2">
                                                        <p class="mb-0">{{ announcement.title }}</p>
                                                        <a {% if announcement.url %}href="{{ announcement.url }}" {% endif %}
                                                           style="font-size: 13px"
                                                           class="text-muted">{{ announcement.description }}</a>
                                                    </div>
                                                    <div class="item-progress">{{ announcement.created_at|get_time_ago }}</div>
                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--/ Multi Radial Chart -->

                        <!-- Statistics cards & Revenue Growth Chart -->
                        <div class="col-lg-4 col-12">
                            <div class="row">
                                <!-- Statistics Cards -->
                                {% if request.user.is_staff %}
                                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <div class="avatar mx-auto mb-2">
                                                <span class="avatar-initial rounded-circle bg-label-success"><i
                                                        class="bx bx-purchase-tag fs-4"></i></span>
                                                </div>
                                                <span style="font-size: 13px" class="d-block text-nowrap pt-1">تعداد کل سفارشات </span>
                                                <h2 class="mb-n3">{{ all_paid_order.count }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <div class="avatar mx-auto mb-2">
                                                <span class="avatar-initial rounded-circle bg-label-danger"><i
                                                        class="bx bx-cart fs-4"></i></span>
                                                </div>
                                                <span style="font-size: 13px" class="d-block text-nowrap pt-1">تعداد کل پشتیبانی ها</span>
                                                <h2 class="mb-n3">{{ all_paid_support.count }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <div class="avatar mx-auto mb-2">
                                                <span class="avatar-initial rounded-circle bg-label-info"><i
                                                        class="bx bx-dollar fs-4"></i></span>
                                                </div>
                                                <span style="font-size: 13px" class="d-block text-nowrap pt-1">مبلغ کل سفارش ها (تومان)</span>
                                                <h4 class="mb-n3">{{ orders_price|intcomma:False }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <div class="avatar mx-auto mb-2">
                                                <span class="avatar-initial rounded-circle bg-label-primary"><i
                                                        class="bx bx-dollar-circle fs-4"></i></span>
                                                </div>
                                                <span style="font-size: 13px" class="d-block text-nowrap pt-1">مبلغ کل پشتیبانی ها (تومان)</span>
                                                <h4 class="mb-n3">{{ supports_price|intcomma:False }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <div class="avatar mx-auto mb-2">
                                                <span class="avatar-initial rounded-circle bg-label-success"><i
                                                        class="bx bx-purchase-tag fs-4"></i></span>
                                                </div>
                                                <span style="font-size: 13px" class="d-block text-nowrap pt-1">تعداد سفارشات شما</span>
                                                <h2 class="mb-n3">{{ request.user.orders.all|get_paid_order_count }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <div class="avatar mx-auto mb-2">
                                                <span class="avatar-initial rounded-circle bg-label-danger"><i
                                                        class="bx bx-cart fs-4"></i></span>
                                                </div>
                                                <span style="font-size: 13px" class="d-block text-nowrap pt-1">تعداد پشتیبانی های شما</span>
                                                <h2 class="mb-n3">{{ request.user.supports.all|get_paid_support_count }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <div class="avatar mx-auto mb-2">
                                                <span class="avatar-initial rounded-circle bg-label-info"><i
                                                        class="bx bx-dollar fs-4"></i></span>
                                                </div>
                                                <span style="font-size: 13px" class="d-block text-nowrap pt-1">مبلغ کل سفارش وبسایت (تومان)</span>
                                                <h4 class="mb-n3">{{ request.user.orders.all|get_paid_order_price|intcomma:False }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                                        <div class="card h-100">
                                            <div class="card-body text-center">
                                                <div class="avatar mx-auto mb-2">
                                                <span class="avatar-initial rounded-circle bg-label-primary"><i
                                                        class="bx bx-dollar-circle fs-4"></i></span>
                                                </div>
                                                <span style="font-size: 13px" class="d-block text-nowrap pt-1">مبلغ کل پشتیبانی ها (تومان)</span>
                                                <h4 class="mb-n3">{{ request.user.supports.all|get_paid_support_price|intcomma:False }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <!--/ Statistics Cards -->
                                <!-- Revenue Growth Chart -->
                                <!--/ Revenue Growth Chart -->
                            </div>
                        </div>
                        <!--/ Statistics cards & Revenue Growth Chart -->

                        <!-- Weekly Order Summary -->
                        {% if request.user.is_staff %}
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5 class="card-title mb-0">پشتیبانی های خریداری شده</h5>

                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                                            <a href="{% url 'user_support_order_list' %}"
                                               class="btn btn-sm btn-primary">مشاهده
                                                جزییات بیشتر</a>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table border-top">
                                            <thead>
                                            <tr align="center">
                                                <th>نوع پلن</th>
                                                <th>تاریخ خرید</th>
                                                <th>تاریخ انقضا</th>
                                                <th>قیمت (تومان)</th>
                                                <th>صورت حساب</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                            {% for order in all_paid_support|slice:":5" %}
                                                <tr align="center">
                                                    <td class="text-nowrap">
                                                        <img src="{% static 'dashboard_app' %}/img/icons/brands/fastrack.png"
                                                             class="me-3" width="22"
                                                             alt="Fastrack">{{ order.plan.period }}
                                                    </td>
                                                    <td class="text-nowrap">{{ order.pay_at.date }}
                                                    <td class="text-nowrap">{{ order.expiration_date.date }}
                                                    </td>
                                                    <td class="text-nowrap">{{ order.price|intcomma:False }}
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'support_order_detail_print' order.tracking_code %}"
                                                           class="btn btn-info">مشاهده</a></td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br>
                            </div>
                        {% else %}
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5 class="card-title mb-0">پشتیبانی های خریداری شده</h5>

                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                                            <a href="{% url 'user_support_order_list' %}"
                                               class="btn btn-sm btn-primary">مشاهده
                                                جزییات بیشتر</a>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table border-top">
                                            <thead>
                                            <tr align="center">
                                                <th>نوع پلن</th>
                                                <th>تاریخ خرید</th>
                                                <th>تاریخ انقضا</th>
                                                <th>قیمت (تومان)</th>
                                                <th>صورت حساب</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                            {% for order in request.user.supports.all|get_slice_supports %}
                                                <tr align="center">
                                                    <td class="text-nowrap">
                                                        <img src="{% static 'dashboard_app' %}/img/icons/brands/fastrack.png"
                                                             class="me-3" width="22"
                                                             alt="Fastrack">{{ order.plan.period }}
                                                    </td>
                                                    <td class="text-nowrap">{{ order.pay_at.date }}
                                                    <td class="text-nowrap">{{ order.expiration_date.date }}
                                                    </td>
                                                    <td class="text-nowrap">{{ order.price|intcomma:False }}
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'support_order_detail_print' order.tracking_code %}"
                                                           class="btn btn-info">مشاهده</a></td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br>
                            </div>
                        {% endif %}

                        <!--/ Weekly Order Summary -->

                        <!-- Latest Update -->
                        {% if request.user.is_staff %}
                            <div class="col-md-6 col-lg-6 col-xl-4 col-xl-4 mb-4">
                                <div class="card h-100">
                                    <div class="card-header d-flex align-items-center justify-content-between mb-3">
                                        <h5 class="card-title mb-0">آخرین اعلانات</h5>

                                    </div>
                                    <div class="card-body">
                                        <ul class="p-0 m-0">
                                            {% for chat in chats %}
                                                <li class="d-flex mb-3 align-items-center">
                                                    <div class="avatar avatar-sm flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded-circle bg-label-primary"><i
                                                        class="bx bx-cube"></i></span>
                                                    </div>
                                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                        <div class="me-2">
                                                            <a style="font-size: 14px"
                                                               href="{% url 'chat_list' %}"
                                                               class="mb-0">{{ chat.user.phone }}</a>
                                                        </div>
                                                        <div class="item-progress">{{ chat.updated_at }}</div>
                                                    </div>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-6 col-lg-6 col-xl-4 col-xl-4 mb-4">
                                <div class="card h-100">
                                    <div class="card-header d-flex align-items-center justify-content-between mb-3">
                                        <h5 class="card-title mb-0">آخرین اعلانات</h5>

                                    </div>
                                    <div class="card-body">
                                        <ul class="p-0 m-0">
                                            {% for notification in request.user.notifications.all|get_slice_notification %}
                                                <li class="d-flex mb-3 align-items-center">
                                                    <div class="avatar avatar-sm flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded-circle bg-label-primary"><i
                                                        class="bx bx-cube"></i></span>
                                                    </div>
                                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                        <div class="me-2">
                                                            <p class="mb-0">{{ notification.title }}</p>
                                                            <a {% if notification.url %}href="{{ notification.url }}" {% endif %}
                                                               style="font-size: 13px"
                                                               class="text-muted">{{ notification.description }}</a>
                                                        </div>
                                                        <div class="item-progress">{{ notification.created_at|get_time_ago }}</div>
                                                    </div>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!--/ Latest Update -->

                        <!-- All Users -->
                        <div class="col-md-6 col-lg-6 col-xl-4 mb-4 mb-xl-0">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h5 class="card-title mb-3">خریداری شده </h5>
                                    <h1 class="display-6 fw-normal mb-0 primary-font">{{ request.user.orders.all|get_paid_order_count }}</h1>
                                </div>
                                <div class="card-body">
                                    <span class="d-block mb-2">آمار تراکنش ها</span>
                                    <div class="progress progress-stacked mb-3 mb-xl-5" style="height: 8px">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{ request.user.orders.all|order_paid_percent }}%"
                                             aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{ request.user.orders.all|order_not_finished_percent }}%"
                                             aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: {{ request.user.orders.all|order_finished_percent }}%"
                                             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>

                                    </div>
                                    <ul class="p-0 m-0">
                                        <li class="mb-3 d-flex justify-content-between">
                                            <div class="d-flex align-items-center me-3">
                                                <span class="badge badge-dot bg-success me-2"></span> خریداری شده
                                            </div>
                                            <div class="d-flex gap-3">
                                                <span>{{ request.user.orders.all|get_paid_order_count }}</span>
                                                <span>{{ request.user.orders.all|order_paid_percent }}%</span>
                                            </div>
                                        </li>
                                        <li class="mb-3 d-flex justify-content-between">
                                            <div class="d-flex align-items-center me-3">
                                                <span class="badge badge-dot bg-danger me-2"></span> تکمیل نشده
                                            </div>
                                            <div class="d-flex gap-3">
                                                <span>{{ request.user.orders.all|get_not_finished_order_count }}</span>
                                                <span class="fw-semibold">{{ request.user.orders.all|order_not_finished_percent }}%</span>
                                            </div>
                                        </li>
                                        <li class="mb-3 d-flex justify-content-between">
                                            <div class="d-flex align-items-center me-3">
                                                <span class="badge badge-dot bg-info me-2"></span> تکمیل شده
                                            </div>
                                            <div class="d-flex gap-3">
                                                <span>{{ request.user.orders.all|get_finished_order_count }}</span>
                                                <span class="fw-semibold">{{ request.user.orders.all|order_finished_percent }}%</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--/ All Users -->

                        <!-- Marketing Campaigns -->
                        {% if request.user.is_staff %}
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5 class="card-title mb-0">سفارشات</h5>

                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                                            <a href="{% url 'user_order_list' %}" class="btn btn-sm btn-primary">مشاهده
                                                جزییات بیشتر</a>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table border-top">
                                            <thead>
                                            <tr align="center">
                                                <th>عنوان سفارش</th>
                                                <th>نوع سفارش</th>
                                                <th>کد رهگیری</th>
                                                <th>میزان پیشرفت</th>
                                                <th>وضعیت سفارش</th>
                                                <th>صورت حساب</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                            {% for order in all_paid_order|slice:":5" %}
                                                <tr align="center">
                                                    <td class="text-nowrap">
                                                        <img src="{% static 'dashboard_app' %}/img/icons/brands/fastrack.png"
                                                             class="me-3" width="22"
                                                             alt="Fastrack">{{ order.plan_category }}
                                                    </td>
                                                    <td class="text-nowrap">{{ order.plan_type }}
                                                    </td>
                                                    <td class="text-nowrap">{{ order.tracking_code }}
                                                    </td>
                                                    <td><span class="text-success"><i
                                                            class="bx bx-trending-up text-success me-2"></i>{{ order.preparation_percentage }}</span>
                                                    </td>
                                                    {% if order.is_finished %}
                                                        <td>تکمیل شده</td>
                                                    {% else %}
                                                        <td>تکمیل نشده</td>
                                                    {% endif %}
                                                    <td><a href="{% url 'order_detail_print' order.tracking_code %}"
                                                           class="btn btn-warning">مشاهده</a></td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5 class="card-title mb-0">سفارشات</h5>

                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                                            <a href="{% url 'user_order_list' %}" class="btn btn-sm btn-primary">مشاهده
                                                جزییات بیشتر</a>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table border-top">
                                            <thead>
                                            <tr align="center">
                                                <th>عنوان سفارش</th>
                                                <th>نوع سفارش</th>
                                                <th>کد رهگیری</th>
                                                <th>میزان پیشرفت</th>
                                                <th>وضعیت سفارش</th>
                                                <th>صورت حساب</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                            {% for order in request.user.orders.all|get_slice_order %}
                                                <tr align="center">
                                                    <td class="text-nowrap">
                                                        <img src="{% static 'dashboard_app' %}/img/icons/brands/fastrack.png"
                                                             class="me-3" width="22"
                                                             alt="Fastrack">{{ order.plan_category }}
                                                    </td>
                                                    <td class="text-nowrap">{{ order.plan_type }}
                                                    </td>
                                                    <td class="text-nowrap">{{ order.tracking_code }}
                                                    </td>
                                                    <td><span class="text-success"><i
                                                            class="bx bx-trending-up text-success me-2"></i>{{ order.preparation_percentage }}</span>
                                                    </td>
                                                    {% if order.is_finished %}
                                                        <td>تکمیل شده</td>
                                                    {% else %}
                                                        <td>تکمیل نشده</td>
                                                    {% endif %}
                                                    <td><a href="{% url 'order_detail_print' order.tracking_code %}"
                                                           class="btn btn-warning">مشاهده</a></td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!--/ Marketing Campaigns -->
                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                {% include 'includes/dashboard_footer.html' %}
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{% static 'dashboard_app/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'dashboard_app/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'dashboard_app/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'dashboard_app/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

<script src="{% static 'dashboard_app/vendor/libs/hammer/hammer.js' %}"></script>

<script src="{% static 'dashboard_app/vendor/libs/i18n/i18n.js' %}"></script>
<script src="{% static 'dashboard_app/vendor/libs/typeahead-js/typeahead.js' %}"></script>

<script src="{% static 'dashboard_app/vendor/js/menu.js' %}"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="{% static 'dashboard_app/vendor/libs/apex-charts/apexcharts.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'dashboard_app/js/main.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'dashboard_app/js/dashboards-ecommerce.js' %}"></script>
{% include 'includes/messages.html' %}

</body>
</html>