<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-3 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            طراحی شده با ❤️ وبسایت
            <a href="https://rtl-theme.com" target="_blank" class="footer-link fw-semibold">سین وب</a>
        </div>
        <div>


            <a href="{% url 'contact_us' %}" target="_blank"
               class="footer-link d-none d-sm-inline-block">پشتیبانی</a>
        </div>
    </div>
</footer>