{% load static %}
<!--  JavaScripts  -->
<script src="{% static 'index_app/js/jquery-3.4.1.min.js' %}"></script>
<!--  bootstrap js  -->
<script src="{% static 'index_app/js/bootstrap.js' %}"></script>
<!-- Menu JS -->
<script src="{% static 'index_app/js/menu.js' %}"></script>
<!--  Swiper Js  -->
<script src="{% static 'index_app/js/swiper.min.js' %}"></script>
<!--  popup Js  -->
<script src="{% static 'index_app/js/jquery.magnific-popup.min.js' %}"></script>
<!--  CountTo Js  -->
<script src="{% static 'index_app/js/jquery.countTo.js' %}"></script>
<!--  Isotope Js  -->
<script src="{% static 'index_app/js/isotope.pkgd.min.js' %}"></script>
<!--  Custom JS  -->
<script src="{% static 'index_app/js/onyx.js' %}"></script>

</html>