{% load static %}

<!--- Preloader Start -->
<div id="onyx-preloader">
    <div class="preloader">
        <div class="spinner"></div>
        <div class="loader">
            <span data-text="O" class="letter-animation">O</span>
            <span data-text="N" class="letter-animation">N</span>
            <span data-text="Y" class="letter-animation">Y</span>
            <span data-text="X" class="letter-animation">X</span>
        </div>
    </div>
</div>
<!-- Preloader End -->

<!-- Header Start -->
<header style="background-color: #007aff" id="header" class="header-section fixed-top w-100">
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="top-header-info">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <i class="lni lni-envelope"></i>
                                <a href="javascript:void(0);">Support@example.com</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="lni lni-mobile"></i>
                                <a href="javascript:void(0);">+1234567898</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="top-header-social">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <i class="lni lni-alarm-clock"></i>
                                شنبه - چهارشنبه 08:00 - 16:00
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void(0);">
                                    <i class="lni lni-facebook-filled"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void(0);">
                                    <i class="lni lni-twitter-original"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void(0);">
                                    <i class="lni lni-pinterest"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void(0);">
                                    <i class="lni lni-instagram-original"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row header-bottom dir-ltr">
            <nav class="navbar navbar-expand-lg w-100 header-nav py-0 pl-0">
                <a class="navbar-brand" href="index-01.html"><img src="{% static 'index_app/img/logo-03.png' %}"
                                                                  alt="/"></a>
                <button type="button" data-toggle="collapse" data-target="#toggle-menu" aria-controls="toggle-menu"
                        aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed">
                    <span class="lni lni-menu"></span>
                </button>
                <div id="toggle-menu" class="collapse navbar-collapse">
                    <ul class="navbar-nav w-100">
                        {% if request.user.is_authenticated %}
                            {% if request.user.orders.all %}
                                {% for order in request.user.orders.all %}
                                    {% if order.is_paid == False %}
                                        <li class="nav-item dropdown mr-auto">
                                            <a role="button" aria-haspopup="true" aria-expanded="false"
                                               href="{% url 'order_detail' %}" class="nav-link"><i
                                                    style="font-size: 20px"
                                                    class="lni lni-cart"></i></a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if request.user.supports.all %}
                                {% for order in request.user.supports.all %}
                                    {% if order.is_paid == False %}
                                        <li class="nav-item dropdown mr-auto">
                                            <a role="button" aria-haspopup="true" aria-expanded="false"
                                               href="{% url 'support_detail' %}" class="nav-link"><i
                                                    style="font-size: 20px"
                                                    class="lni lni-cart-full"></i></a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <li class="nav-item dropdown mr-auto">
                                <a role="button" aria-haspopup="true" aria-expanded="false"
                                   href="{% url 'dashboard' %}" class="nav-link"><h2>داشبورد</h2></a>
                            </li>
                            <li class="nav-item dropdown mr-auto">
                                <a role="button" aria-haspopup="true" aria-expanded="false"
                                   href="{% url 'logout' %}" class="nav-link"><h2>خروج</h2></a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown mr-auto">
                                <a role="button" aria-haspopup="true" aria-expanded="false"
                                   href="{% url 'register' %}" class="nav-link"><h2>ثبت نام</h2></a>
                            </li>
                            <li class="nav-item dropdown mr-auto">
                                <a role="button" aria-haspopup="true" aria-expanded="false"
                                   href="{% url 'login' %}" class="nav-link"><h2>ورود</h2></a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown mr-auto">
                            <a role="button" aria-haspopup="true" aria-expanded="false"
                               href="{% url 'index' %}" class="nav-link"><h2>خانه</h2></a>
                        </li>
                        <li class="nav-item dropdown mr-auto">
                            <a role="button" aria-haspopup="true" aria-expanded="false"
                               href="{% url 'support' %}" class="nav-link"><h2> اشتراک پشتیبانی</h2></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               href="javascript:void(0);" class="nav-link dropdown-toggle"><h2>پلن ها</h2></a>
                            <div class="dropdown-menu">
                                <div class="menu-items">
                                    {% for plan_category in plan_categories %}
                                        <h3 class="title-feature">
                                            <a href="{% url 'plan_category_detail' plan_category.id %}">
                                                {{ plan_category.title }}
                                            </a>
                                        </h3>
                                    {% endfor %}

                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               href="javascript:void(0);" class="nav-link dropdown-toggle"><h2>صفحات</h2></a>
                            <div class="dropdown-menu">
                                <div class="menu-items">
                                    <h3 class="title-feature">
                                        <a href="{% url 'service_list' %}">
                                            خدمات
                                        </a>
                                    </h3>
                                    <h3 class="title-feature">
                                        <a href="{% url 'about_us' %}">
                                            درباره ما
                                        </a>
                                    </h3>
                                    <h3 class="title-feature">
                                        <a href="{% url 'team' %}">
                                            تیم ها
                                        </a>
                                    </h3>
                                    <h3 class="title-feature">
                                        <a href="{% url 'comment_list' %}">
                                            نظرات
                                        </a>
                                    </h3>
                                    <h3 class="title-feature">
                                        <a href="{% url 'faq' %}">
                                            سوالات متداول
                                        </a>
                                    </h3>
                                    <h3 class="title-feature">
                                        <a href="{% url 'portfolio_list' %}">
                                            نمونه کار ها
                                        </a>
                                    </h3>
                                    <h3 class="title-feature">
                                        <a href="{% url 'contact_us' %}">
                                            تماس با ما
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- Header End -->

