{% extends 'main_base.html' %}
{% load static %}

{% block body %}
    <body data-spy="scroll" data-target="#scrollspy" data-offset="1">

    <div class="secondary-pages homepage-03">

        <!--  Home Start  -->
        <section id="home" class="page-header py-6 breadcrumbs">
            <div class="home-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Home End  -->

        <!--  Services 01 Start  -->
        <section class="services-01 pt-6 pb-50">
            <div class="container">
                <!--  Services Content -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2 class="main-title">خدمات ما</h2>
                            <p class="sub-title">خدمات مشاوره کسب و کار ایده آل</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--  Item 01  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <i class="lni lni-protection"></i>
                            <h5 class="services-title">امنیت تقویت شده</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a class="services-link" href="javascript:void(0);">مشاهده بیشتر</a>
                        </div>
                    </div>
                    <!--  Item 02  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <i class="lni lni-consulting"></i>
                            <h5 class="services-title">مشاوره کسب و کار</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a class="services-link" href="javascript:void(0);">مشاهده بیشتر</a>
                        </div>
                    </div>
                    <!--  Item 03  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <i class="lni lni-bullhorn"></i>
                            <h5 class="services-title">تبلیغ برند</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a class="services-link" href="javascript:void(0);">مشاهده بیشتر</a>
                        </div>
                    </div>
                    <!--  Item 04  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <i class="lni lni-grow"></i>
                            <h5 class="services-title">توسعه محصول</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a class="services-link" href="javascript:void(0);">مشاهده بیشتر</a>
                        </div>
                    </div>
                    <!--  Item 05  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <i class="lni lni-money-protection"></i>
                            <h5 class="services-title">مدیریت مالی</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a class="services-link" href="javascript:void(0);">مشاهده بیشتر</a>
                        </div>
                    </div>
                    <!--  Item 06  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <i class="lni lni-handshake"></i>
                            <h5 class="services-title">شرکت در پروژه</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a class="services-link" href="javascript:void(0);">مشاهده بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--   Services 02 End   -->

        <!--  Services 02 Start  -->
        <section class="services-02 py-50">
            <div class="container">
                <!--  Services Content -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2 class="main-title">خدمات ما</h2>
                            <p class="sub-title">کسب و کار خود را با مشاوره ما رشد دهید</p>
                        </div>
                    </div>
                    <!--  Item 01  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-protection"></i>
                            </div>
                            <h5 class="services-title">امنیت تقویت شده</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>مشاهده بیشتر</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 02  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-consulting"></i>
                            </div>
                            <h5 class="services-title">مشاوره کسب و کار</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>مشاهده بیشتر</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 03  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-bullhorn"></i>
                            </div>
                            <h5 class="services-title">تبلیغ برند</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>مشاهده بیشتر</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 04  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-grow"></i>
                            </div>
                            <h5 class="services-title">توسعه محصول</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>مشاهده بیشتر</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 05  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-money-protection"></i>
                            </div>
                            <h5 class="services-title">مدیریت مالی</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>مشاهده بیشتر</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 06  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-handshake"></i>
                            </div>
                            <h5 class="services-title">شرکت در پروژه</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>مشاهده بیشتر</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--   Services 02 End   -->

        <!--  Services Start  -->
        <section class="services-03 pt-50 py-6">
            <div class="container">
                <!--  Services Content -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2 class="main-title">خدمات ما</h2>
                            <p class="sub-title">کسب و کار خود را با مشاوره ما رشد دهید</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--  Item 01  -->
                    <div class="col-md-6 col-lg-4 boxes">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-protection"></i>
                            </div>
                            <h5 class="services-title">امنیت تقویت شده</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a href="javascript:void(0)"> مشاهده بیشتر </a>
                        </div>
                    </div>
                    <!--  Item 02  -->
                    <div class="col-md-6 col-lg-4 boxes">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-consulting"></i>
                            </div>
                            <h5 class="services-title">مشاوره کسب و کار</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a href="javascript:void(0)"> مشاهده بیشتر </a>
                        </div>
                    </div>
                    <!--  Item 03  -->
                    <div class="col-md-6 col-lg-4 boxes">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-bullhorn"></i>
                            </div>
                            <h5 class="services-title">تبلیغ برند</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a href="javascript:void(0)"> مشاهده بیشتر </a>
                        </div>
                    </div>
                    <!--  Item 04  -->
                    <div class="col-md-6 col-lg-4 boxes">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-grow"></i>
                            </div>
                            <h5 class="services-title">توسعه محصول</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a href="javascript:void(0)"> مشاهده بیشتر </a>
                        </div>
                    </div>
                    <!--  Item 05  -->
                    <div class="col-md-6 col-lg-4 boxes">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-money-protection"></i>
                            </div>
                            <h5 class="services-title">مدیریت مالی</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a href="javascript:void(0)"> مشاهده بیشتر </a>
                        </div>
                    </div>
                    <!--  Item 06  -->
                    <div class="col-md-6 col-lg-4 boxes">
                        <div class="services-box">
                            <div class="services-icon">
                                <i class="lni lni-handshake"></i>
                            </div>
                            <h5 class="services-title">شرکت در پروژه</h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a href="javascript:void(0)"> مشاهده بیشتر </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--   Services End   -->

        <!--   Footer Start   -->
        <!--   Footer End   -->


    </div>


    </body>
{% endblock %}
