{% extends 'main_base.html' %}
{% load static %}

{% block body %}
    <body data-spy="scroll" data-target="#scrollspy" data-offset="1">

    <div class="secondary-pages homepage-03">

        <!--  Home Start  -->
        <section id="home" class="page-header py-6 breadcrumbs">
            <div class="home-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Home End  -->

        <!--  Services 01 Start  -->
        <section class="services-01 pt-6 pb-50">
            <div class="container">
                <!--  Services Content -->
                {% for service_category in service_categories %}
                    <div class="row">
                        <div class="col-lg-12">
                            <br>
                            <h3>{{ service_category.title }}</h3>
                        </div>
                    </div>
                    {% for service in service_category.service_set.all %}
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="services-box">
                                    <i class="lni lni-protection"></i>
                                    <h5  class="services-title">{{ service.title }}</h5>
                                    <p>{{ service.short_description }}</p>
                                    <a class="services-link" href="javascript:void(0);">مشاهده بیشتر</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% endfor %}

            </div>
        </section>

    </div>


    </body>
{% endblock %}
