{% extends 'main_base.html' %}
{% load static %}
{% block body %}

    <body data-spy="scroll" data-target="#scrollspy" data-offset="1">

    <div class="secondary-pages homepage-03">


        <!--  Home Start  -->
        <section id="home" class="page-header py-6 breadcrumbs">
            <div class="home-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Home End  -->

        <!--  Client 02 Start  -->
        <section id="testimonial2" class="testimonial-02 py-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-box">
                                    <h2 class="main-title">نظرات کاربران</h2>
                                    <p class="sub-title"> ما خوشحالیم که نظر مشتری را به اشتراک می گذاریم.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-items testimonial-items-02">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!--  Item 01 -->
                                    {% for comment in comments %}
                                        <div class="swiper-slide">
                                            <div class="testimonial-box">
                                                <div class="testimonial-header">
                                                    <div class="testimonial-img">
                                                        {% if comment.user.image %}
                                                            <img src="{{ comment.user.image.url }}"
                                                                 alt="/">
                                                        {% else %}
                                                            <img src="https://www.nicepng.com/png/detail/128-1280406_view-user-icon-png-user-circle-icon-png.png"
                                                                 alt="/">
                                                        {% endif %}
                                                    </div>
                                                    <div class="testimonial-detail">
                                                        <span class="testimonial-name">{{ comment.user.fullname }}</span>
                                                    </div>
                                                </div>
                                                <div class="testimonial-comment">
                                                    <p>{{ comment.message }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button"></div>
                                <div class="swiper-button-prev swiper-button"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div style="margin-bottom: 20px" align="center">
                {% if request.user.is_authenticated %}
                    <h4 style="color: orangered">نظر خود را با ما به اشتراک بگذارید</h4>
                    <form method="post" action="">
                        {% csrf_token %}
                        <textarea style="width: 70%;height: 100px" class="form-control" name="message" id="" cols="30"
                                  rows="10"
                                  placeholder="متن نظر خود را وارد کنید"></textarea>
                        <button type="submit" style="margin-top: 10px; width: 150px" class="btn btn-success">ارسال نظر
                        </button>
                    </form>
                {% else %}
                    <a class="btn btn-warning" href="{% url 'login' %}">برای ارسال نظر وارد شوید</a>
                {% endif %}
            </div>
        </section>
        <section id="testimonial" class="testimonial-01 py-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2 class="main-title">نظرات کاربران</h2>
                            <p class="sub-title"> ما خوشحالیم که نظر مشتری را به اشتراک می گذاریم.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-4 mt-lg-0">
                        <div class="testimonial-items">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!--  Item 01 -->
                                    <div class="swiper-slide">
                                        <div class="testimonial-image">
                                            <img src="{% static 'index_app/img/client-01.jpg' %}" alt="/">
                                        </div>
                                        <div class="testimonial-content">
                                            <p class="testimonial-comment">"سلام، این یک دیدگاه است. برای شروع کار با
                                                مدیریت، ویرایش و حذف نظرات، لطفاً از صفحه نظرات در داشبورد ببینید.
                                                آواتارهای نظردهنده از Gravatar می آیند.سلام، این یک دیدگاه است. برای
                                                شروع کار با مدیریت، ویرایش و حذف نظرات، لطفاً از صفحه نظرات در داشبورد
                                                ببینید. آواتارهای نظردهنده از Gravatar می آیند. "</p>
                                            <h6 class="testimonial-name">محیا پناهی, <span class="testimonial-job">مدیر سئو</span>
                                            </h6>
                                        </div>
                                    </div>
                                    <!--  Item 02 -->
                                    <div class="swiper-slide">
                                        <div class="testimonial-image">
                                            <img src="{% static 'index_app/img/client-02.jpg' %}" alt="/">
                                        </div>
                                        <div class="testimonial-content">
                                            <p class="testimonial-comment">"سلام، این یک دیدگاه است. برای شروع کار با
                                                مدیریت، ویرایش و حذف نظرات، لطفاً از صفحه نظرات در داشبورد ببینید.
                                                آواتارهای نظردهنده از Gravatar می آیند.سلام، این یک دیدگاه است. برای
                                                شروع کار با مدیریت، ویرایش و حذف نظرات، لطفاً از صفحه نظرات در داشبورد
                                                ببینید. آواتارهای نظردهنده از Gravatar می آیند. "</p>
                                            <h6 class="testimonial-name">علی محمدی, <span class="testimonial-job">مدیر سئو</span>
                                            </h6>
                                        </div>
                                    </div>
                                    <!--  Item 03 -->
                                    <div class="swiper-slide">
                                        <div class="testimonial-image">
                                            <img src="{% static 'index_app/img/client-03.jpg' %}" alt="/">
                                        </div>
                                        <div class="testimonial-content">
                                            <p class="testimonial-comment">"سلام، این یک دیدگاه است. برای شروع کار با
                                                مدیریت، ویرایش و حذف نظرات، لطفاً از صفحه نظرات در داشبورد ببینید.
                                                آواتارهای نظردهنده از Gravatar می آیند.سلام، این یک دیدگاه است. برای
                                                شروع کار با مدیریت، ویرایش و حذف نظرات، لطفاً از صفحه نظرات در داشبورد
                                                ببینید. آواتارهای نظردهنده از Gravatar می آیند. "</p>
                                            <h6 class="testimonial-name">مهتاب کاوه, <span class="testimonial-job">مدیر سئو</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next swiper-button"></div>
                            <div class="swiper-button-prev swiper-button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Client 01 End  -->

    </div>


    </body>

{% endblock %}
