{% extends 'main_base.html' %}
{% load static %}

{% block body %}

    <body data-spy="scroll" data-target="#scrollspy" data-offset="1">

    <div class="secondary-pages homepage-03">

        <!--  Home Start  -->
        <section id="home" class="page-header py-6 breadcrumbs">
            <div class="home-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Home End  -->

        <!--  Price 01 Start  -->
        <section class="price-01 pt-6 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2 class="main-title">پلن های اشتراک</h2>
                            <p class="sub-title">ما بهترین قیمت را به شما پیشنهاد می دهیم!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--  Item 01  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="price-box">
                            <div class="price-cost"><span>تومان</span> 200000
                                <div class="price-cost-border"></div>
                            </div>
                            <h3 class="price-title">پلن اولیه</h3>
                            <div class="price-text">
                                <p>ویژگی استاندارد</p>
                                <p>تجزیه و تحلیل تجاری و مالی</p>
                                <p>مدیریت تیکت</p>
                                <p>پشتیبانی 24/7 ساعته</p>
                            </div>
                            <div class="price-button">
                                <a class="pill-button-01 mt-3" href="javascript:void(0);">شروع کنید</a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 02  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="price-box">
                            <div class="price-cost"><span>تومان</span> 400000
                                <div class="price-cost-border"></div>
                            </div>
                            <h3 class="price-title">پلن پیشنهادی</h3>
                            <div class="price-text">
                                <p>ویژگی استاندارد</p>
                                <p>تجزیه و تحلیل تجاری و مالی</p>
                                <p>مدیریت تیکت</p>
                                <p>پشتیبانی 24/7 ساعته</p>
                            </div>
                            <div class="price-button">
                                <a class="pill-button-01 mt-3" href="javascript:void(0);">شروع کنید</a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 03  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="price-box">
                            <div class="price-cost"><span>تومان</span> 700000
                                <div class="price-cost-border"></div>
                            </div>
                            <h3 class="price-title">پلن پیشرفته</h3>
                            <div class="price-text">
                                <p>ویژگی استاندارد</p>
                                <p>تجزیه و تحلیل تجاری و مالی</p>
                                <p>مدیریت تیکت</p>
                                <p>پشتیبانی 24/7 ساعته</p>
                            </div>
                            <div class="price-button">
                                <a class="pill-button-01 mt-3" href="javascript:void(0);">شروع کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Price 01 End  -->

        <!--  Price 02 Start  -->
        <section class="price-02 py-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2 class="main-title">پلن های اشتراک</h2>
                            <p class="sub-title">ما بهترین قیمت را به شما پیشنهاد می دهیم!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--  Item 01  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="price-box">
                            <div class="price-header">
                                <h3 class="price-title">پلن اولیه</h3>
                                <div class="price-cost">400000 <span>تومان</span></div>
                                <div class="pricing-period">ماهانه</div>
                            </div>
                            <div class="price-text">
                                <ul class="list-unstyled">
                                    <li>ویژگی استاندارد</li>
                                    <li>تجزیه و تحلیل تجاری و مالی</li>
                                    <li>مدیریت تیکت</li>
                                    <li>1 بهینه سازی رایگان</li>
                                    <li>پشتیبانی 24/7 ساعته</li>
                                </ul>
                            </div>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>شروع کنید</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 02  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="price-box offer-box">
                            <div class="price-highlighter">
                                <i class="lni lni-checkmark"></i>
                                <span>بهترین</span>
                            </div>
                            <div class="price-header">
                                <h3 class="price-title">پلن اولیه</h3>
                                <div class="price-cost">400000 <span>تومان</span></div>
                                <div class="pricing-period">ماهانه</div>
                            </div>
                            <div class="price-text">
                                <ul class="list-unstyled">
                                    <li>ویژگی استاندارد</li>
                                    <li>تجزیه و تحلیل تجاری و مالی</li>
                                    <li>مدیریت تیکت</li>
                                    <li>1 بهینه سازی رایگان</li>
                                    <li>پشتیبانی 24/7 ساعته</li>
                                </ul>
                            </div>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>شروع کنید</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 03  -->
                    <div class="col-md-6 col-lg-4">
                        <div class="price-box">
                            <div class="price-header">
                                <h3 class="price-title">پلن اولیه</h3>
                                <div class="price-cost">400000 <span>تومان</span></div>
                                <div class="pricing-period">ماهانه</div>
                            </div>
                            <div class="price-text">
                                <ul class="list-unstyled">
                                    <li>ویژگی استاندارد</li>
                                    <li>تجزیه و تحلیل تجاری و مالی</li>
                                    <li>مدیریت تیکت</li>
                                    <li>1 بهینه سازی رایگان</li>
                                    <li>پشتیبانی 24/7 ساعته</li>
                                </ul>
                            </div>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>شروع کنید</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Price 02 End  -->

        <!--  Price 03 Start  -->
        <section class="price-01 price-03 pt-50 pb-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2 class="main-title">پلن های اشتراک</h2>
                            <p class="sub-title">ما بهترین قیمت را به شما پیشنهاد می دهیم!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--  Item 01  -->
                    <div class="col-lg-4 boxes">
                        <div class="price-box">
                            <div class="price-cost"><span>تومان</span> 200000
                                <div class="price-cost-border"></div>
                            </div>
                            <h3 class="price-title">پلن اولیه</h3>
                            <div class="price-text">
                                <p>ویژگی استاندارد</p>
                                <p>تجزیه و تحلیل تجاری و مالی</p>
                                <p>مدیریت تیکت</p>
                                <p>پشتیبانی 24/7 ساعته</p>
                            </div>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>شروع کنید</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 02  -->
                    <div class="col-lg-4 boxes">
                        <div class="price-box">
                            <div class="price-cost"><span>تومان</span> 400000
                                <div class="price-cost-border"></div>
                            </div>
                            <h3 class="price-title">پلن پیشنهادی</h3>
                            <div class="price-text">
                                <p>ویژگی استاندارد</p>
                                <p>تجزیه و تحلیل تجاری و مالی</p>
                                <p>مدیریت تیکت</p>
                                <p>پشتیبانی 24/7 ساعته</p>
                            </div>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>شروع کنید</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--  Item 03  -->
                    <div class="col-lg-4 boxes">
                        <div class="price-box">
                            <div class="price-cost"><span>تومان</span> 700000
                                <div class="price-cost-border"></div>
                            </div>
                            <h3 class="price-title">پلن پیشرفته</h3>
                            <div class="price-text">
                                <p>ویژگی استاندارد</p>
                                <p>تجزیه و تحلیل تجاری و مالی</p>
                                <p>مدیریت تیکت</p>
                                <p>پشتیبانی 24/7 ساعته</p>
                            </div>
                            <div class="btn-01">
                                <a href="javascript:void(0)">
                                    <span>شروع کنید</span>
                                    <i class="lni lni-arrow-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Price 03 End  -->


    </div>


    </body>

{% endblock %}
