{% extends 'main_base.html' %}
{% load static %}


{% block body %}
    <body data-spy="scroll" data-target="#scrollspy" data-offset="1">

    <div class="secondary-pages homepage-03">
        <!--  Home Start  -->
        <section id="home" class="page-header py-6 breadcrumbs">
            <div class="home-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Home End  -->

        <!--  About Start  -->
        <section id="about" class="about-wrapper-01 pt-6 pb-50">
            <div class="container">
                <div class="about-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="{% static 'index_app/img/mission-img.png' %}" alt="/">
                        </div>
                        <div class="col-lg-6">
                            <div class="title-box">
                                <h2 class="main-title">ماموریت ما</h2>
                                <hp class="sub-title">اگر می توانید آن را رویا کنید، ما می توانیم آن را حقیقی کنیم</hp>
                            </div>
                            <p class="about-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                استفاده
                                از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                و
                                برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                باشد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی
                                تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                                تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--  About End  -->

        <!--  Why Choose  Start  -->
        <section class="about-wrapper-01 py-50">
            <div class="container">
                <div class="about-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="title-box">
                                <h2 class="main-title">چرا ما را انتخاب کنید</h2>
                                <hp class="sub-title">ما شریک موفقیت شما هستیم</hp>
                            </div>
                            <p class="about-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                استفاده
                                از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                و
                                برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                باشد.</p>
                            <!-- Skill -->
                            <div class="skill-box">
                                <div class="skillbar clearfix" data-percent="95%">
                                    <div class="skillbar-title"><span>کسب و کار</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                                <div class="skillbar clearfix " data-percent="85%">
                                    <div class="skillbar-title"><span>تجاری</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                    <div class="skill-bar-percent">85%</div>
                                </div>
                                <div class="skillbar clearfix" data-percent="80%">
                                    <div class="skillbar-title"><span>شرکت</span></div>
                                    <div class="skillbar-bar fill-skillbar"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6">
                            <img src="{% static 'index_app/img/why-choose-img.png' %}" alt="/">
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--  Why Choose End  -->

        <!--   Counted Start   -->
        <section class="counted-02 py-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2 class="main-title">حقایق جالب</h2>
                            <p class="sub-title">حقایق جالب بسیاری برای بهترین آثار داشته باشید</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="counted">
                            <div class="row">
                                <!-- Item-01 -->
                                <div class="col-6 col-md-3 count-item">
                                    <div class="count-content">
                                    <span class="timer count-number" data-from="0" data-to="73"
                                          data-speed="5000">0</span>
                                        <h6 class="mb-0">اعضای تیم</h6>
                                    </div>
                                </div>
                                <!-- Item-02 -->
                                <div class="col-6 col-md-3  count-item">
                                    <div class="count-content">
                                    <span class="timer count-number" data-from="0" data-to="6549"
                                          data-speed="5000">0</span>
                                        <h6 class="mb-0">پروژه ها</h6>
                                    </div>
                                </div>
                                <!-- Item-03 -->
                                <div class="col-6 col-md-3  count-item">
                                    <div class="count-content">
                                    <span class="timer count-number" data-from="0" data-to="793"
                                          data-speed="5000">0</span>
                                        <h6 class="mb-0">جوایز</h6>
                                    </div>
                                </div>
                                <!-- Item-04 -->
                                <div class="col-6 col-md-3  count-item">
                                    <div class="count-content">
                                    <span class="timer count-number" data-from="0" data-to="286"
                                          data-speed="5000">0</span>
                                        <h6 class="mb-0">رضایت مشتریان</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--    Counted End   -->

        <!--  Team 03 Start  -->
        <section class="team-03 pt-50 pb-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2 class="main-title">تیم متخصص ما</h2>
                            <p class="sub-title">با تیم حرفه ای ما آشنا شوید</p>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <div class="row">
                        {% for member in members %}
                            <div class="col-md-6 col-lg-4">
                                <div class="team-box">
                                    <div class="team-img">
                                        {% if member.image %}
                                            <img src="{{ member.image.url }}" alt="">
                                        {% else %}
                                            <img src="{% static 'index_app/img/team-04.jpg' %}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="team-info">
                                        <h4 class="team-name">{{ member.name }}</h4>
                                        <h6 class="team-job">{{ member.role }}</h6>
                                        <div class="team-social">
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    {{ member.work_experience }}سال تجربه
                                                </li>
                                                <li class="list-inline-item">
                                                    {{ member.created_at.date }} زمان عضویت
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
        <!--  Team 03 End  -->


    </div>


    </body>
{% endblock %}
