{% extends 'main_base.html' %}
{% load static %}
{% block body %}

    <body data-spy="scroll" data-target="#scrollspy" data-offset="1">

    <div class="secondary-pages homepage-03">

        <section id="home" class="page-header py-6 breadcrumbs">
            <div class="home-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Home End  -->

        <!-- Portfolio Start -->
        <section id="portfolio" class="portfolio-wrapper portfolio-03 column-2 py-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                            <h2 class="main-title">کارهای ما</h2>
                            <p class="sub-title">برای آشنایی با ما آخرین کارهای ما را ببینید</p>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <!--   Portfolio Filters   -->
                    <ul id="portfolio-filter" class="list-unstyled list-inline mb-0 col-lg-12 portfolio-filter">
                        {% for category in portfolio_categories %}
                            <li class=" list-inline-item">
                                <a href="#" data-filter=".{{ category.title }}"
                                   class="pill-button active">{{ category.title }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="portfolio-body">
                    <div class="portfolio-items row">
                        {% for portfolio in portfolios %}
                            <div class="col-md-6 {{ portfolio.category.first }}">
                                <div class="portfolio-box">
                                    <div class="portfolio-img">
                                        <img src="{{ portfolio.image.url }}" alt="/">
                                    </div>
                                    <div class="portfolio-overlay">
                                        <div class="portfolio-content">
                                            <div class="portfolio-hover-icon">
                                                <a href="portfolio-single-03.html">
                                                    <i class="lni lni-plus"></i>
                                                </a>
                                            </div>
                                            <h6 class="portfolio-title-box">
                                                <a href="portfolio-single-03.html">{{ portfolio.title }}</a>
                                            </h6>
                                            <p class="portfolio-category">{{ portfolio.category.first }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </section>
        <!--  Portfolio End  -->

    </div>


    </body>
{% endblock %}
